<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <title>Json Form and Data</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-5 text-center">
        Assignment - 1 : Programming on the Cloud
      </h1>
    </div>
    <div class="row">
      <div class="col-md-6 px-5">
        <h3>Enter Request Parameters</h3>
        <form method="POST" action="/jsonform">
          <div class="form-group row">
            <label for="RFWID" class="col-sm-2 col-form-label">RFW ID</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="RFWID" />
              <small class="form-text text-muted">Id For the RFW</small>
            </div>
          </div>

          <div class="form-group row">
            <label for="benchmarkType" class="col-sm-2 col-form-label"
              >Benchmark Type</label
            >
            <div class="col-sm-10">
              <select class="form-control" name="benchmarkType">
                <option value="DVD">DVD</option>
                <option value="NDBench">NDBench</option>
              </select>
              <small class="form-text text-muted"
                >Type of data DVD or NDBench</small
              >
            </div>
          </div>

          <div class="form-group row">
            <label for="workloadMetric" class="col-sm-2 col-form-label"
              >Workload Metric</label
            >
            <div class="col-sm-10">
              <select class="form-control" name="workloadMetric">
                <option value="CPUUtilization_Average">
                  CPU Utilization Average
                </option>
                <option value="NetworkIn_Average">Network In Average</option>
                <option value="NetworkOut_Average">Network Out Average</option>
                <option value="MemoryUtilization_Average">
                  Memory Utilization Average
                </option>
                <option value="Final_Target">Final Target</option>
              </select>
              <small id="emailHelp" class="form-text text-muted"
                >Which data Column to request</small
              >
            </div>
          </div>

          <div class="form-group row">
            <label for="batchUnit" class="col-sm-2 col-form-label"
              >Batch Unit</label
            >
            <div class="col-sm-10">
              <input type="text" class="form-control" name="batchUnit" />
              <small class="form-text text-muted"
                >The number of samples contained in each batch.</small
              >
            </div>
          </div>

          <div class="form-group row">
            <label for="batchID" class="col-sm-2 col-form-label"
              >Batch ID</label
            >
            <div class="col-sm-10">
              <input type="text" class="form-control" name="batchID" />
              <small class="form-text text-muted"
                >Such as the 1st or 2nd or... 5th Batch (without th)</small
              >
            </div>
          </div>

          <div class="form-group row">
            <label for="batchSize" class="col-sm-2 col-form-label"
              >Batch Size</label
            >
            <div class="col-sm-10">
              <input type="text" class="form-control" name="batchSize" />
              <small id="emailHelp" class="form-text text-muted"
                >Such as the how many batches to return, 5 means 5 batches to
                return</small
              >
            </div>
          </div>

          <div class="form-group row">
            <label for="dataType" class="col-sm-2 col-form-label"
              >Data Type</label
            >
            <div class="col-sm-10">
              <select class="form-control" name="dataType">
                <option value="training">Training</option>
                <option value="testing">Testing</option>
              </select>
              <small id="emailHelp" class="form-text text-muted"
                >Training data or Testing data</small
              >
            </div>
          </div>

          <div class="form-group row">
            <label for="dataAnalytics" class="col-sm-2 col-form-label"
              >Data Analytics</label
            >
            <div class="col-sm-10">
              <select class="form-control" name="dataAnalytics">
                <option value="avg">Average</option>
                <option value="min">Minimum</option>
                <option value="max">Maximum</option>
              </select>
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
      <div class="col-md-5 px-5 border">Use this Form to send JSON Data</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
